<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
</head>

<body>
  <h1>Landing Page</h1>
  <a href="/users/library">Library</a>
  <a href="/books/createBook">Add Book</a>
  <button id="logout_button">Log out</button>

  <div id="quote_container">
    <h2 id="quote"></h2>
    <h3 id="quotedBy"></h3>
  </div>


  <script type="module" src="/js/auth/logout/logout.js"></script>
  <script type="module" src="/js/dashboard/index.js"></script>
</body>

</html>