<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="welcome_container">
    <h2>Welcome to</h2>
    <h1>ReadQuest</h1>
  </div>

  <main>
    <aside id="best_sellers_container">
      <h3>NYT Best Sellers</h3>
    </aside>

    <div id="content_container">
      <div class="options_container">
        <div class="library_div link_div">
          <a href="/users/library">Your Library</a>
          <img src="/media/dashboard/link_img3.png" alt="">
        </div>


        <div class="create_book_div link_div">
          <a href="/books/createBook">Add Book</a>
          <img src="/media/dashboard/link_img2.png" alt="">
        </div>

        <div class="edit_account_div link_div">
          <a href="/users/updateUser">Account</a>
          <img src="/media/dashboard/link_img1.png" alt="">
        </div>
      </div>

      <div class="api_container">
        <div id="quote_container">
          <h2 id="quote"></h2>
          <h3 id="quotedBy"></h3>
        </div>

        <div id="weather_container">
          <h3 id="status"></h3>
          <div class="weather_info_container">
            <div class="weather_text">
              <div class="num_of_day_div">
                <h2 id="num_until"></h2>
                <h5 class="days_text"></h5>
              </div>
              <h4 id="weather"></h4>
            </div>
            <div class="weather_img_container">
              <img id="weather_img" src="" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button_container">
      <button id="logout_button">Log out</button>
    </div>
  </main>





  <script type="module" src="/js/auth/logout/logout.js"></script>
  <script type="module" src="/js/dashboard/index.js"></script>

</body>

</html>