<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library</title>
  <link rel="stylesheet" href="/css/book.css">
  <link rel="stylesheet" href="/css/library.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
  <a class="nav_link" href="/users/dashboard">Home</a>
  <main>
    <div class="title_container">
      <img src="/media/library/bookGraphic4.png" alt="book">
      <h1>Your Library</h1>
      <img src="/media/library/bookGraphic3.png" alt="book">
    </div>
    <div id="shelf">
    </div>
  </main>

  <script type="module" src="/js/library/index.js"></script>
</body>

</html>