<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <h1>Login</h1>
    <form id="login_form">
      <div class="form_group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form_group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button class="submit_btn" type="submit">Login</button>
    </form>
    <p class="signup_text">Don't have an account? <a href="/auth/signup">Sign up</a></p>

  </main>

  <script type="module" src="/js/auth/login/index.js"></script>
</body>

</html>