<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Book</title>
  <link rel="stylesheet" href="/css/createBook.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
  <a class="nav_link" href="/users/library">Back</a>
  <main>
    <h1>Update Book</h1>

    <form id="update_book_form">
      <div class="form_pt1">
        <div class="form_group">
          <label for="title">Book Title:</label>
          <input type="text" id="title" name="title" required>
        </div>
        <div class="form_group">
          <label for="author">Author:</label>
          <input type="text" id="author" name="author" required>
        </div>
        <div class="form_group">
          <label for="genre">Genre:</label>
          <input type="text" id="genre" name="genre">
        </div>
      </div>

      <div class="form_pt2">
        <div class="form_group">
          <label for="rating">Rating (1-5):</label>
          <input type="number" id="rating" name="rating" min="1" max="5">
        </div>
        <div class="form_group">
          <label for="thoughts">Personal Thoughts:</label>
          <textarea id="thoughts" name="thoughts" rows="5" placeholder="Write your thoughts about the book..."></textarea>
        </div>
      </div>

      <button class="submit_btn" type="submit">Update Book</button>
    </form>
  </main>

  <script type="module" src="/js/books/updateBook/index.js"></script>
</body>

</html>