* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #6e72ff;
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome_content {
  padding: 30px;
  background: rgba(255, 255, 255, 0.452);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: fit-content;
  max-width: 90vw;
  height: auto;
}

.main_img {
  max-height: 400px;
  object-fit: contain;
  padding: 30px;
}

@keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.welcome_content h1 {
  font-size: clamp(2rem, 10vw, 8rem);
  opacity: 0;
  animation: blurIn 1s ease forwards;
  animation-delay: 1s;
  font-family: "DM Serif Display", serif;
  color: #412945;
}

.welcome_content h2 {
  font-family: Quicksand;
  font-weight: 300;
  letter-spacing: 10px;
  color: #412945;
  opacity: 0;
  animation: blurIn 1s ease forwards;
  animation-delay: 0.5s;
}

.welcome_content h3 {
  font-family: Quicksand;
  font-weight: 300;
  letter-spacing: 6px;
  color: #412945;
  opacity: 0;
  animation: blurIn 1s ease forwards;
  animation-delay: 1.5s;
  text-align: center;
}

.welcome_links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin: 30px;
}

.welcome_links a {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background-color: #b7ba6a;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  border-radius: 999px;
  font-family: Quicksand;
  font-weight: 500;
  transition: background 0.3s ease, transform 0.2s ease;
  opacity: 0;
  animation: blurIn 1s ease forwards;
  animation-delay: 2s;
}

.welcome_links a:hover {
  background-color: #8baff7;
}

@media (max-height: 600px) {
  .main_img {
    max-height: 300px;
    flex: 1 0 auto;
    padding: 10px;
  }
}
