* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: Quicksand;
  background-color: #d5d6fd;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  position: relative;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 180px;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.452);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
  border: 1px solid #6e72ff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.title_container img {
  height: 100%;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: clamp(2rem, 8vw, 4rem);
  margin-bottom: 30px;
  animation: blurIn 1s ease forwards;
  color: #412945;
  text-align: center;
}

#shelf {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  width: 95%;
  height: auto;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.452);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 15px;
  border: 1px solid #6e72ff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 248, 255, 0.58);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 920;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  z-index: 950;
  background-color: #b7ba6a;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 15px;
  font-family: Quicksand, sans-serif;
}

.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 242, 242, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 940;
}

.hidden {
  display: none;
}

.nav_link {
  position: absolute;
  color: white;
  font-weight: bold;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #0e2b3e7f;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-family: Quicksand;
}

.addBook_link {
  margin-top: 20px;
  padding: 0.8rem 1.5rem;
  background-color: #b7ba6a;
  border-radius: 999px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  align-self: center;
  width: auto;
  white-space: nowrap;
  font-weight: 600;
  text-decoration: none;
}

.addBook_link:hover {
  background-color: #8baff7;
  transform: translateY(-2px);
}
